@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('./lato/Lato-Light.woff2') format('woff2'),
    url('./lato/Lato-Light.woff') format('woff'),
    url('./lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('./lato/Lato-Regular.woff2') format('woff2'),
    url('./lato/Lato-Regular.woff') format('woff'),
    url('./lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('./lato/Lato-Bold.woff2') format('woff2'),
    url('./lato/Lato-Bold.woff') format('woff'),
    url('./lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('./circular/CircularStd-Light.woff2') format('woff2'),
    url('./circular/CircularStd-Light.woff') format('woff'),
    url('./circular/CircularStd-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('./circular/CircularStd-Book.woff2') format('woff2'),
    url('./lcircularato/CircularStd-Book.woff') format('woff'),
    url('./circular/CircularStd-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('./circular/CircularStd-Medium.woff2') format('woff2'),
    url('./lcircularato/CircularStd-Medium.woff') format('woff'),
    url('./circular/CircularStd-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('./circular/CircularStd-Bold.woff2') format('woff2'),
    url('./circular/CircularStd-Bold.woff') format('woff'),
    url('./circular/CircularStd-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PTSerif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('./pt-serif/PTSerif-Regular.woff2') format('woff2'),
    url('./pt-serif/PTSerif-Regular.woff') format('woff'),
    url('./pt-serif/PTSerif-Regular.ttf') format('truetype');
}
