@import url('./fonts/font-collection.css');

@layer base {
  :root {
    --white: #fefefe;
    --black: #010101;
    --dark-grey: #444444;
    --medium-grey: #8e8d8d;
    --light-grey: #fafafa;
    --dark-blue: #0b3c49;
    --pale-blue: #449dd1;
    --light-blue: #0d99e6;
    --turquoise: #5fcdc0;
    --teal: #007388;
    --green: #42b863;
    --orange: #f09819;
    --yellow: #f4d03f;
    --violet: #731963;
    --red: #c93136;
    --neutral: #3d4451;
    --info: #3abff8;
    --success: #6bb900;
    --warning: #fbbd23;
    --error: #f87272;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASICS */
*,
*::before,
*::after {
  @apply m-0 box-border break-words p-0;
}

*:focus,
*:focus-visible,
*:focus-within,
*:active {
  @apply outline-none;
}

html,
body {
  @apply relative m-0 h-full w-full p-0 font-Lato text-darkGrey;
  min-height: 100vh;
  scroll-behavior: smooth;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */
p {
  @apply pb-5 text-lg leading-normal;
  &.no-padding {
    @apply pb-0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance font-PTSerif font-bold text-primary;
  > a {
    @apply no-underline;
  }
  &.add-padding {
    @apply pb-5;
  }
  &.on-dark {
    @apply text-white;
  }
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4,
h5,
h6 {
  @apply text-lg;
}

a,
.text-link-button {
  @apply m-0 cursor-pointer p-0 text-primary underline duration-300;
  font-size: inherit;
  line-height: inherit;
  height: inherit;

  &.white-link,
  &.on-dark {
    @apply text-white;
  }
  &:hover {
    @apply no-underline;
  }
  &.active {
    @apply text-secondary no-underline;
  }
}

img,
picture {
  @apply block max-w-full;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  @apply min-h-40;
}

:target {
  scroll-margin-block: 5ex;
}

/* LAYOUT */
.wrapper {
  @apply w-full;

  .content-container {
    @apply min-h-[calc(100vh-192px)] md:min-h-[calc(100vh-176px)];
  }

  .inner-box {
    @apply m-auto h-full w-full max-w-screen-xl px-4;
  }
  .inner-box-full-width {
    @apply m-auto h-full w-full px-4;
  }
}

/* HELPER */
.tiny-spacer {
  @apply m-0 h-2 w-full p-0;
}
.medium-spacer {
  @apply m-0 h-4 w-full p-0;
}
.spacer {
  @apply m-0 h-8 w-full p-0;
}
.big-spacer {
  @apply m-0 h-12 w-full p-0;
}
.massive-spacer {
  @apply m-0 h-20 w-full p-0;
}
.just-a-line {
  @apply m-0 h-px w-full bg-mediumGrey p-0;
}

/* Special Button Style */
.btn-basic {
  @apply m-2 block rounded-md border-0 px-12 py-4 text-lg font-bold leading-none text-white transition-all duration-500;
  background: linear-gradient(to right, var(--light-blue) 0%, var(--turquoise) 51%, var(--light-blue) 100%);
  background-size: 200% auto;
  box-shadow: 0 0 0.5rem var(--medium-grey);

  &:hover {
    @apply cursor-pointer bg-right shadow-none;
  }
}

/* Special Animations */
.fade-in {
  @apply opacity-0;
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------------- CUSTOM CLASSES ---------------*/
.item-row {
  .item {
    &.active {
      @apply bg-primary text-white;
      h3,
      p {
        @apply text-white;
      }
      .item-content {
        @apply w-full;
        .sub-item {
          &.active {
            @apply bg-secondary text-white;
            h3,
            p {
              @apply text-white;
            }
          }
        }
      }
    }
  }
}
