@import url('./fonts/font-collection.css');
@import 'tailwindcss';

:root {
  --white: #fefefe;
  --black: #010101;
  --very-dark-grey: #212121;
  --dark-grey: #444444;
  --medium-grey: #8e8d8d;
  --light-grey: #fafafa;
  --dark-blue: #0b3c49;
  --pale-blue: #449dd1;
  --decent-blue: #71bce7;
  --light-blue: #0d99e6;
  --turquoise: #5fcdc0;
  --teal: #007388;
  --green: #42b863;
  --orange: #f09819;
  --yellow: #f4d03f;
  --wine: #731963;
  --red: #c93136;
  --neutral: #3d4451;
  --info: #3abff8;
  --success: #6bb900;
  --warning: #fbbd23;
  --error: #f87272;
  --purple: oklch(0.6056 0.2189 292.72);
  --pink: oklch(0.6559 0.2118 354.31);
  --violet: oklch(0.6668 0.2591 322.15);
  --purple2: #6d46e6;

  --color-persian-rose-50: #fef1f9;
  --color-persian-rose-100: #fde6f4;
  --color-persian-rose-200: #fdcdea;
  --color-persian-rose-300: #fda4d8;
  --color-persian-rose-400: #fa6cbc;
  --color-persian-rose-500: #f33199;
  --color-persian-rose-600: #e41e7e;
  --color-persian-rose-700: #c61064;
  --color-persian-rose-800: #a31152;
  --color-persian-rose-900: #881347;
  --color-persian-rose-950: #540326;

  --iconic-blue: #121d33;
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-50: oklch(100% 0 0);
  --color-base-100: oklch(98% 0 0);
  --color-base-inverted-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-base-content-50: oklch(0.1632 0.0493 330.88);
  --color-base-content-100: oklch(0.1632 0.0493 330.88 / 10%);
  --color-primary: oklch(65% 0.241 354.308);
  --color-primary-content: oklch(97% 0.017 320.058);
  --color-secondary: oklch(89% 0.057 293.283);
  --color-secondary-content: oklch(28% 0.141 291.089);
  --color-accent: oklch(0.9087 0.0519 67.1);
  --color-accent-content: oklch(37% 0.01 67.558);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(26% 0.007 34.298);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
  --color-iconic-blue: #121d33;
}
@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-50: oklch(0.1721 0.0329 293.82);
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-inverted-100: oklch(98% 0 0);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-base-content-50: oklch(0.95 0.0165 330);
  --color-base-content-100: oklch(0.95 0.0165 330 / 33%);
  --color-primary: oklch(0.6668 0.2591 322.15);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --color-iconic-blue: #121d33;
}
@theme {
  --font-circular: 'Circular', sans-serif;
  --spacing-fhd: 120rem;
  --spacing-wqhd: 160rem;
  --breakpoint-xs: 26rem;  
  --breakpoint-fhd: 120rem;
  --breakpoint-wqhd: 160rem;
  --color-white: var(--white);
  --color-black: var(--black);
  --color-base-50: oklch(100% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-base-content-50: oklch(0.1632 0.0493 330.88);
  --color-base-content-100: oklch(0.1632 0.0493 330.88 / 33%);
  --color-lightGrey: var(--light-grey);
  --color-mediumGrey: var(--medium-grey);
  --color-darkGrey: var(--dark-grey);
  --color-veryDarkGrey: var(--very-dark-grey);
  --color-darkBlue: var(--dark-blue);
  --color-paleBlue: var(--pale-blue);
  --color-lightBlue: var(--light-blue);
  --color-green: var(--green);
  --color-turquoise: var(--turquoise);
  --color-teal: var(--teal);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-wine: var(--wine);
  --color-red: var(--red);
  --color-neutral: var(--neutral);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --breakpoint-navOne: 55rem;
  --breakpoint-halfXl: 72rem;
  --color-purple: oklch(0.6056 0.2189 292.72);
  --color-pink: oklch(0.6559 0.2118 354.31);
  --color-violet: oklch(0.6668 0.2591 322.15);
  --animate-fade-in: fadeIn 1.25s ease;
  --animate-fade-in-up: fadeInUp 0.5s ease-out;
  --animate-fade-in-from-side: fadeInFromSide 0.5s ease-out;
  --color-iconic-blue: #121d33;
  --color-purple2: #6d46e6;
}

/* BASICS */
*:focus,
*:focus-visible,
*:focus-within,
*:active {
  outline: none;
  image-rendering: crisp-edges;
}

html,
body {
  @apply relative m-0 h-full w-full p-0;
  min-height: 100vh;
  scroll-behavior: smooth;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */
p {
  @apply font-circular text-lg leading-normal font-light;
  &.add-padding {
    @apply pb-5;
  }
  &.tiny-label {
    @apply text-xs text-base-content/70;
  }
  &.teaser {
    @apply text-2xl;
    &.add-padding {
      @apply pb-8;
    }
    &.boxed {
      @apply mx-auto max-w-3xl;
    }
  }
  &.brand {
    @apply from-purple via-pink to-violet inline-block bg-linear-135 bg-clip-text text-transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-circular leading-[1.1] font-bold text-balance;

  > a {
    @apply no-underline;
  }
  > span.inner-text {
    @apply font-light;
  }
  > span.inner-text-special {
    @apply from-purple via-pink to-violet inline-block bg-linear-135 bg-clip-text text-transparent;
  }
}
h1 {
  @apply text-4xl md:text-6xl;
  &.massive {
    @apply text-6xl md:text-8xl;
    &.add-padding {
      @apply pb-10 pt-3;
    }
  }
  &.add-padding {
    @apply pb-8 pt-2;
  }
}
h2 {
  @apply text-3xl md:text-4xl;
  &.add-padding {
    @apply pb-7 pt-2;
  }
}
h3 {
  @apply text-xl;
  &.add-padding {
    @apply pb-6 pt-2;
  }
}
h4,
h5,
h6 {
  @apply text-lg;
  &.add-padding {
    @apply pb-6 pt-1;
  }
}

.prose {
  > p {
    @apply pb-5;
    &.teaser {
      @apply pb-8;
    }
  }
  > h1 {
    @apply pb-8 pt-2;
    &.massive {
      @apply pb-10 pt-3;
    }
  }
  > h2 {
    @apply pb-7 pt-2;
  }
  > h3 {
    @apply pb-6 pt-2;
  }
  > h4,
  > h5,
  > h6 {
    @apply pb-5 pt-1;
  }
}

a,
.text-link-button {
  @apply cursor-pointer m-0 p-0 underline opacity-70 duration-300;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  height: inherit;

  &.inverted-underline {
    @apply no-underline;
    &:hover {
      @apply underline;
    }
    &.active {
      @apply text-secondary underline;
    }
  }

  &:hover {
    @apply no-underline;
  }
  &.active {
    @apply text-secondary no-underline;
  }

  &.white-link {
    @apply text-white;
  }
}

img,
picture {
  @apply block max-w-full;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  @apply min-h-40;
}

:target {
  scroll-margin-block: 5ex;
}

/* LAYOUT */
.wrapper {
  .global-loading {
    @apply flex h-dvh w-full items-center justify-center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 9999;
  }
  main {
    /* @apply min-h-[calc(100vh-464px)] bg-base-50; */
    @apply bg-base-50;

    .inner-box {
      @apply h-full w-full max-w-7xl px-10 mx-auto;
      &.reduced {
        @apply max-w-5xl;
      }
    }
  }
}

/* HELPER */
.very-tiny-spacer {
  @apply m-0 h-1 w-full p-0;
}
.tiny-spacer {
  @apply m-0 h-2 w-full p-0;
}
.medium-spacer {
  @apply m-0 h-4 w-full p-0;
}
.spacer {
  @apply m-0 h-8 w-full p-0;
}
.big-spacer {
  @apply m-0 h-12 w-full p-0;
}
.massive-spacer {
  @apply m-0 h-20 w-full p-0;
}
.just-a-line {
  @apply bg-mediumGrey m-0 h-px w-full p-0;
}

/* Special Button Style */
.btn-basic {
  @apply from-purple via-pink to-violet flex items-center justify-center rounded-md border-0 bg-linear-to-r bg-size-[200%_auto] px-12 py-5 text-lg leading-none font-bold text-nowrap text-white shadow-md transition-all duration-500;

  &:disabled,
  &[disabled] {
    @apply cursor-not-allowed opacity-40;
    &:hover {
      @apply cursor-not-allowed bg-left;
    }
  }
  svg {
    @apply mx-1;
  }
  &.block-button {
    @apply h-[50px] px-4 py-0;
  }

  &:hover {
    @apply cursor-pointer bg-right shadow-none;
  }
}
.btn-basic-header {
  @apply from-purple via-pink to-violet flex h-11.5 items-center justify-center rounded-md border-0 bg-linear-to-r bg-size-[200%_auto] px-7 text-lg leading-none font-bold text-nowrap text-white shadow-md transition-all duration-500;

  &:disabled,
  &[disabled] {
    @apply cursor-not-allowed opacity-40;
    &:hover {
      @apply cursor-not-allowed bg-left;
    }
  }
  svg {
    @apply mx-1;
  }
  &.block-button {
    @apply h-[50px] px-4 py-0;
  }

  &:hover {
    @apply cursor-pointer bg-right shadow-none;
  }
}
.btn-simple {
  @apply from-pink to-violet border-0 bg-linear-to-r text-nowrap text-white;
  &:hover {
    @apply from-pink/80 to-violet/80 cursor-pointer shadow-none;
  }
}
.btn-outline-basic {
  @apply from-purple to-pink w-fit rounded-lg border-0 bg-linear-to-r;
  .button-inner {
    @apply bg-base-200 text-base-content m-0.5 rounded-lg px-3 py-1 text-nowrap;
  }
  &:hover {
    @apply cursor-pointer;
    .button-inner {
      @apply bg-transparent text-white;
    }
  }
}
.btn-outline-header {
  @apply from-purple to-pink mr-3 h-11.5 w-fit rounded-lg border-0 bg-linear-to-r;
  .button-inner {
    @apply bg-base-200 text-base-content m-0.5 flex h-[calc(100%-4px)] items-center justify-center rounded-md px-4 font-bold text-nowrap;
  }
  &:hover {
    @apply cursor-pointer opacity-60;
  }
}
.nav-button-link {
  @apply text-base-content relative mr-2.5 ml-2.5 min-h-6 px-2 text-lg opacity-75;
  &::after {
    @apply bg-base-content absolute -bottom-1 left-0 block h-0.5 w-full origin-left scale-x-0 transition-transform duration-500;
    content: '';
  }
  &:hover {
    @apply cursor-pointer opacity-100;
    &::after {
      @apply scale-x-100;
    }
  }

  &.active {
    @apply opacity-100;
    &::after {
      @apply scale-x-100;
    }
    &:hover {
      @apply cursor-default;
    }
  }
}
.badge-primary {
  @apply from-pink to-violet border-0 bg-linear-to-r text-nowrap text-white;
}

/* Custom Styles / Overwrites */
.modal-box {
  &.small-modal {
    @apply max-w-2xl max-h-[92vh];
  }
  &.medium-modal {
    @apply max-w-4xl max-h-[96vh];
  }
  &.large-modal {
    @apply max-w-6xl max-h-[96vh];
  }
}
div.alert {
  background-image: none !important;
}

/* Key Frame Animations */
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInFromSide {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
