@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Integrate Custom Fonts */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
      url('./fonts/Lato-Regular.woff2') format('woff2'),
      url('./fonts/Lato-Regular.woff') format('woff'),
      url('./fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
      url('./fonts/Lato-Bold.woff2') format('woff2'),
      url('./fonts/Lato-Bold.woff') format('woff'),
      url('./fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
      url('./fonts/Lato-Light.woff2') format('woff2'),
      url('./fonts/Lato-Light.woff') format('woff'),
      url('./fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'PTSerif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
      url('./fonts/PTSerif-Regular.woff2') format('woff2'),
      url('./fonts/PTSerif-Regular.woff') format('woff'),
      url('./fonts/PTSerif-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASICS */
* {
  @apply m-0 p-0 break-words;
}

*:focus {
	@apply outline-none;
}

html,
body {
	@apply font-Lato w-full h-full relative;
}

/* TYPOGRAPHY */
p {
  @apply text-base pb-6;
  &.p2 {
    @apply text-xl;
  }
  &.no-padding {
    @apply p-0;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-PTSerif text-neutral-800;
  > a {
    @apply no-underline;
  }
  &.no-padding {
    @apply p-0;
  }
}
h1 {
	@apply text-4xl pb-8;
}
h2 {
	@apply text-2xl pb-8;
}
h3 {
	@apply text-xl pb-6;
}
h4, h5, h6 {
	@apply  text-lg pb-4;
}

a, button.text-link-button {
	@apply text-primary cursor-pointer m-0 p-0 min-h-0 duration-300 underline;
	font-size: inherit;
	line-height: inherit;
	height: inherit;
}

a:hover,
button.text-link-button:hover {
	@apply no-underline;
}

/* LAYOUT */
.wrapper {
  @apply w-full h-full m-8;
  .container {
    @apply !max-w-none lg:!max-w-screen-2xl px-4 m-auto;
  }
}

/* HELPER */
.spacer {
	height: 1rem;
}
.bigSpacer {
	height: 2.5rem;
}